{% extends 'base.html' %}
{% block content %}
<body class="sidebar-collapse">
    <nav class="navbar bg-success fixed-top navbar-expand-lg"
    color-on-scroll="100"
    id="selectionNav"
    style="position:absolute">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="#">Cook Packet</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a href="#" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                            <a href="#" class="nav-link">Menu</a>
                    </li>
                    <li class="nav-item">
                            <a href="#" class="nav-link">Faq</a>
                    </li>
                    <li class="nav-item">
                            <a href="#" class="nav-link">Contact Us</a>
                    </li>
                    <li class="nav-item">
                            <a href="#" class="nav-link">Login/SignUp</a>
                    </li>
                </ul>
                <form class="form-inline ml-auto">
                        <div class="form-group no-border">
                          <input type="text" class="input100" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-white btn-just-icon btn-round">
                            <i class="material-icons">search</i>
                        </button>
                </form>
            </div>
        </div>
    </nav>
    </br>
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form p-l-55 p-r-55 p-t-178">
                
                <span class="login100-form-title">
                    Sign In
                </span>

                <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
                    <input class="input100" type="text" name="username" placeholder="Username">
                </div>

                <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter password">
                    <input class="input100" type="password" name="password" placeholder="Password">
                </div>

                <div class="text-right p-t-13 p-b-23">
                    <span class="txt1">
                        Forgot
                    </span>

                    <a href="#" class="txt2">
                        Username / Password?
                    </a>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Sign in
                    </button>
                </div>

                <div class="flex-col-c p-t-50 p-b-40">
                    <span class="txt1 p-b-9">
                        Don’t have an account?
                    </span>
                    <a href="#" class="txt3">
                        Sign up now
                    </a>
                </div>
            </form>
        </div>
    </div>
    <!-- <div class="page-header header-filter" 
    data-parallax="true" 
    style="background-image: url('static/images/background.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-md-4 ml-auto mr-auto text-center">
                    <h2 style="font-size: 50px; margin: 0;">
                        Welcome to Cook Packet
                    <span style="font-size:medium;">(Beta)</span>
                    </h2>
                    <h3 style="margin: 0px 0 40px 0;">Lead a healthy life</h3>
                    <a class="btn btn-primary btn-raised btn-lg" href="#detail">
                        <i class="fa fa-chevron-circle-down" style="padding-right: 8px;"></i>LEARN MORE
                    </a>
                </div>
            </div> -->
        </div>
    </div>
  {% include "common_js.html" %}
</body>
{% endblock content %}